* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #edf4fb, #dfeaf5);
  color: rgba(24, 56, 95, 1);
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgba(24, 56, 95, 1);
  border-radius: 4px;

  &:hover {
    background: rgba(12, 31, 52, 1);
  }
}

::selection {
  background-color: rgba(24, 56, 95, 1);
  color: white;
}
